<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
 <img class="logo" src="/src/assets/Easy.png" alt="#">   

 <div class="example-container">
    <p>Welcome back</p>
    <form action="" >
      <label for="email">Email Adress</label>
      <input type="text">
      <label for="password">Password</label>
      <input type="text">
      <button  >Log in    </button>
      
      <div>
        <p>Create an acount </p>
        <p>Forgot your password</p>
      </div>
    </form>
</div>   
<div class="image">
    <img src="/src/assets/chatimage.png" alt="#">
</div>
</body>
</html>